{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Post Resource
{% endblock %}


{% block style %}
    <link rel="stylesheet" href="{% static "resources/css/form.css" %}">
{% endblock %}


{% block content %}
    <section id="post-content">
        <form id="form" method="POST">
            {% csrf_token %}
            <h1 class="form-title">Sign Up</h1>
            <div class="field-wrapper">
                <label for="username" class="field-label">Username</label>
                <input class="field" id="username" type="text" name="username">
            </div>

            <div class="field-wrapper">
                <label for="email" class="field-label">Email</label>
                <input class="field" id="email" type="text" name="email">
            </div>

            <div class="field-wrapper">
                <label for="password1" class="field-label">Password</label>
                <input class="field" id="password1" type="password" name="password1">
            </div>

            <div class="field-wrapper">
                <label for="password2" class="field-label">Password Confirmation</label>
                <input class="field" id="password2" type="password" name="password2">
            </div>

            <button class="form-btn" type="submit">Submit</button>
        </form>
    </section>
{% endblock %}